<% content_for :class, "scaffold" %>

<div class="wrapper">
    <div class="parallax filter-black">
        <div class="parallax-image">
            <%= image_tag("main.jpg", alt: "...") %>
        </div>
        <div class="small-info">
          <h1>Find whatsgood!</h1>
          <h3>Beta version now available for Arlington, VA</h3>
            <div class="container">
              <%= form_tag(spots_path, :method => "get", id: "search-form", class: "search") do %>
                <div class="form-group">
                  <%= text_field_tag :searchTerm, params[:searchTerm], placeholder:"Search...", class:"form-control", size:50, id:"input-search" %>
                </div>
              <% end %>
              <h5>Search for happy hours, events, or your favorite places.</h5>
            </div>
        </div>
    </div>


     <div class="section ">
           <div class="container">
               <% if @events.any? %>
                 <h3>Events</h3>
                 <% end %>
               <div class="row">

                  <% @events.each do |event| %>
                    <%= link_to(event) do %>
                      <div class="col-md-6" >
                        <div class="card card-background">
                          <div class="image">
                            <%= cl_image_tag(event.image.url(:display), width:"100%") %>
                            <div class="filter"></div>
                          </div>
                          <div class="content">
                            <p class="category">
                              &nbsp;<br />
                            </p>
                            <br/>
                            <% if event.what.length + event.happensat.length < 25 %>
                              <h2 class="title"><b><%= event.what %> @ <%= event.happensat %></b></h2>
                            <% else %>
                              <h3 class="title"><b><%= event.what %> @ <%= event.happensat %></b></h3>
                            <% end %>
                            <br>
                            <h5 class="title"><%= event.when.strftime("%m/%d/%Y %I:%M%p") %></h5>
                          </div>

                        </div>
                      </div>
                    <% end %>
                  <% end %>
                 </div>
             <% if @spots.any? %>
                 <h3>Spots</h3>
             <% end %>
                 <div class="row">
                   <% @spots.each do |spot| %>
                   <%= link_to(spot) do %>
                   <div class="col-md-6">
                        <div class="card card-background">
                            <div class="image">
                                <%= cl_image_tag(spot.image.url(:display), width:"100%") %>
                                <div class="filter"></div>
                            </div>
                            <div class="content">
                                 
                                <p class="category">
                                  &nbsp;<br />
                              <!--      < rating_for spot, "spot" >   -->
                                </p>
                                <br>
                              <% if spot.name.length < 25 %>
                                    <h2 class="title"><b><%=spot.name %></b></h2>
                                  <% else %>
                                    <h3 class="title"><b><%=spot.name[0..50] %></b></h3>
                                  <% end %>
                                <br>
                                <h5 class="title"><%=spot.address %> / <%=spot.phone %></h5>

                            </div>
                        </div> <!-- end card -->
                       <% end %>
                    </div>
                   <% end %>
               </div>
           </div>
    </div><!-- section -->
  </div>