<% content_for :class, "scaffold" %>

<div class="wrapper">
    <div class="parallax filter-black">
        <div class="parallax-image">
            <%= image_tag("main.jpg", alt: "...") %>
        </div>
        <div class="small-info">
            <h1><%= Settings.splashTitle %></h1>
            <h3><%= Settings.splashSubtitle %></h3>
            <div class="container">
              <%= form_tag(spots_path, :method => "get", id: "search-form", class: "search") do %>
                <div class="form-group">
                  <%= text_field_tag :searchTerm, params[:searchTerm], placeholder:"Search...", class:"form-control", size:50, id:"input-search" %>
                </div>
              <% end %>
            </div>
        </div>
    </div>


     <div class="section ">
           <div class="container">
               <div class="row">
                   <% @spots.each do |spot| %>
                   <%= link_to(spot) do %>
                   <div class="col-md-6">
                        <div class="card card-background">
                            <div class="image">
                                <%= cl_image_tag(spot.image.url(:display), width:"100%") %>
                                <div class="filter"></div>
                            </div>
                            <div class="content">
                                 
                                <p class="category">
                                    <%= rating_for spot, "spot" %>
                                </p>
                                <br>
                              <% if spot.name.length < 25 %>
                                    <h2 class="title"><b><%=spot.name %></b></h2>
                                  <% else %>
                                    <h3 class="title"><b><%=spot.name[0..50] %></b></h3>
                                  <% end %>
                                <br>
                                <h5 class="title"><%=spot.address %> / <%=spot.phone %></h5>

                            </div>
                            <!-----div class="footer">
                                <div class="author">
                                    <a href="#">
                                         < image_tag("gsdk_pro/thumb.jpg", alt: "...", class:"avatar") %>
                                        <span> <  spot.user %> </span>
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                     <a href="#">
                                        <i class="fa fa-comments"></i> 143
                                     </a>
                                </div>
                                <div class="stats pull-right">
                                    <a href="#">
                                        <i class="fa fa-heart"></i> 745
                                    </a>
                                </div>
                            </div--->
                        </div> <!-- end card -->
                       <% end %>
                    </div>
                   <% end %>
               </div>
           </div>
    </div><!-- section -->
 
    







