<% content_for :class, "scaffold" %>

<div class="wrapper">
    <div class="parallax filter-black">
        <div class="parallax-image">
            <%= image_tag("gsdk_pro/thumb.jpg", alt: "...") %>
        </div>
        <div class="small-info">
            <h1>Brace yourself!</h1>
            <h3>25% Off and Free global delivery for all products</h3>
        </div>
    </div>


     <div class="section ">
           <div class="container">
               <h2 class="section-title">Listing Spots</h2>
               <div class="row">
                   <% @spots.each do |spot| %>
                   <%= link_to(spot) do %>
                   <div class="col-md-6">
                        <div class="card card-background">
                            <div class="image">
                                <%= image_tag("gsdk_pro/thumb.jpg", alt: "...") %>
                                <div class="filter"></div>
                            </div>
                            <div class="content">
                                 
                                <p class="category">
                                    <%= rating_for spot, "spot" %>
                                </p>
                                <a href="#"><br>
                                    <h4 class="title"><%=link_to spot.name, spot %></h4>
                                </a>
                            </div>
                            <!-----div class="footer">
                                <div class="author">
                                    <a href="#">
                                         < image_tag("gsdk_pro/thumb.jpg", alt: "...", class:"avatar") %>
                                        <span> <  spot.user %> </span>
                                    </a>
                                </div>
                                <div class="stats pull-right">
                                     <a href="#">
                                        <i class="fa fa-comments"></i> 143
                                     </a>
                                </div>
                                <div class="stats pull-right">
                                    <a href="#">
                                        <i class="fa fa-heart"></i> 745
                                    </a>
                                </div>
                            </div--->
                        </div> <!-- end card -->
                       <% end %>
                    </div>
                   <% end %>
               </div>
           </div>
    </div><!-- section -->
 
    







<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h2>Listing spots</h2>
      </div>
      <div class="col-xs-6">
        <%= link_to new_spot_path, class: 'btn btn-primary btn-large pull-right' do %>
        <%= fa_icon_tag "plus" %> Add Spot
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Hours</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Description</th>
          <th>Social twitter</th>
          <th>Social fb</th>
          <th>Social instagram</th>
          <th>Social pinsterest</th>
          <th>Tags</th>
          <th class="td-actions text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @spots.each do |spot| %>
        <tr>
          <td><%= spot.name %></td>
          <td><%= spot.hours %></td>
          <td><%= spot.phone %></td>
          <td><%= spot.address %></td>
          <td><%= spot.description %></td>
          <td><%= spot.social_twitter %></td>
          <td><%= spot.social_fb %></td>
          <td><%= spot.social_instagram %></td>
          <td><%= spot.social_pinsterest %></td>
          <td><%= spot.tags %></td>
          <td class="actions text-right">
            <%= link_to fa_icon_tag("eye"), spot, rel: 'tooltip', title: 'Show' %>
            <%= link_to fa_icon_tag("pencil"), edit_spot_path(spot), rel: 'tooltip', title: 'Edit' %>
            <%= link_to fa_icon_tag("trash-o"), spot, rel: 'tooltip', title: 'Delete',
            data: { confirm: 'Are you sure?' }, method: :delete %>
          </td>
        </tr>
        <% end %>
        <% if @spots.length == 0 %>
        <tr><td colspan=42 class='text-center'>No spots.</td></tr>
        <% end %>
      </tbody>
    </table>
  </div>

  
  </div>
